@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-green {
  background-image: linear-gradient(
    135deg,
    hsl(155deg 96% 40%) 0%,
    hsl(156deg 71% 24%) 33%,
    hsl(218deg 35% 12% / 70%) 50%,
    hsl(156deg 71% 24%) 67%,
    hsl(155deg 96% 40%) 100%
  );
}

.gradient-card {
  background-image: linear-gradient(
    180deg,
    hsl(160deg 86% 33%) 0%,
    hsl(171deg 35% 24%) 37%,
    hsl(209deg 26% 19%) 47%,
    hsl(209deg 26% 19%) 100%
  );
}

.bg-green-x {
  background-color: #04c976;
}

.gradient {
  --color: yellow;

  background-image: linear-gradient(
    135deg,
    var(--color) 0%,
    /* hsl(156deg 71% 24%) 33%, */ hsl(218deg 35% 12% / 90%) 45%,
    #23323e 50%,
    hsl(218deg 35% 12% / 90%) 55%,
    /* hsl(156deg 71% 24%) 67%, */ var(--color) 100%
  );
}
